.jumbotron {
    text-align: center;
    color: blue;
    font-size: large;
}

h6 {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
  }
  

#questions {
    padding-bottom: .25rem;
}

#options {
    padding-bottom: .25rem;
}

